#game{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 1165px;
  margin:0 auto;
}
#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
}

body{
  background-color: blueviolet;
}

button{
  margin-left: 50%;
  margin-top: 20px;
}
h1{
  text-align: center;
  margin-bottom: 100px;
}