#game div {
  border: 1px solid black;
  width: 15%;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

body{
  background-color: blueviolet;
}

button{
  margin-left: 50%;
  margin-top: 12%;
}